/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  font-family: 'Roboto', sans-serif;
 
}

#root {
   background-image: url('./assets/seguridad.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}



/* #root {
  background-image: url('https://cdn.pixabay.com/photo/2018/05/14/15/53/cyber-security-3400555_640.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;

  margin: 0 auto;
  padding: 2rem;
  object-fit: cover;  
} */
 /* #root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;  
  background-color: gray
} */

/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */ 
